#titulo
{
    font-family: Arial;
    color: blue;
    text-align: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin : 0;
    padding: 0.5em 0 0.5em 2em;
}
body 
{
    background-color: darkgrey;
}
